// Base styles
// -------------------------

.alert {
  padding: $alert-padding;
  margin-bottom: $line-height-computed;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;

  // Headings for larger alerts
  h4 {
    margin-top: 0;
    // Specified for the h4 to prevent conflicts of changing $headings-color
    color: inherit;
  }

  // Provide class for links that match alerts
  .alert-link {
    font-weight: $alert-link-font-weight;
  }

  // Add icons to any alerts w/ backgrounds

  &[class*="alert-"]:before {
    @extend *[class^="fa"]:before;
  }

  // Improve alignment and spacing of inner content
  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: 5px;
  }

  &.jumbotron {
    border-radius: 0;
    margin: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: $padding-xs-horizontal;
    text-align: center;
    &:before {
      content: '';
    }
  }
}
// End alert class

//--- Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
.alert-dismissible {
  padding-right: ($alert-padding + 20);

  // Adjust close link position
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
  }
}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  @include transition(all, 65ms, ease-in-out);
    &[data-interaction="true"] {
      &:hover,
      &:focus {
        @include alert-variant-interactive($alert-success-bg, $alert-success-border, $alert-success-text); 
      }
    }
    &:before {
      content: "\f071";
    }
}

.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  @include transition(all, 65ms, ease-in-out);
    &[data-interaction="true"] {
      &:hover,
      &:focus {
        @include alert-variant-interactive($alert-info-bg, $alert-info-border, $alert-info-text); 
      }
    }
    &:before {
      content: "\f05a";
    }
}

.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  @include transition(all, 65ms, ease-in-out);
    &[data-interaction="true"] {
      &:hover,
      &:focus {
        @include alert-variant-interactive($alert-warning-bg, $alert-warning-border, $alert-warning-text); 
      }
    }
    &:before {
      content: "\f071";
    }
}

.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
  @include transition(all, 65ms, ease-in-out);
    &[data-interaction="true"] {
      &:hover,
      &:focus {
        @include alert-variant-interactive($alert-danger-bg, $alert-danger-border, $alert-danger-text); 
      }
    }
    &:before {
      content: "\f057";
    }
}

