//
// Buttons
// --------------------------------------------------

button {
    border: none;
    background-color: transparent;
    @extend .btn-default;
    padding: $padding-base-vertical $padding-base-horizontal;
    border-bottom: $btn-default-border-size solid transparent;
    border-radius: $border-radius-base;
    @extend clearfix;
    font-size: $font-size-mid;
}

form button[type="submit"] {
  margin-top: $line-height-computed;
  font-weight: 600;
  font-family: $font-family-base;
  @extend .btn-primary;
}

// Base styles
// --------------------------------------------------

%btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border-bottom: $btn-default-border-size solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, ($padding-base-vertical * $gr), $font-size-base, $line-height-base, $border-radius-base, $btn-default-border-size);
  @include user-select(none);
  @include transition(background-color 150ms ease-in-out, top 150ms ease-in-out, border 150ms ease-in-out);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    box-shadow: none;
  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, ($padding-large-horizontal * $gr), $font-size-large, $line-height-large, $border-radius-large, ($btn-default-border-size * $gr));
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, ($padding-small-horizontal * $gr), $font-size-small, $line-height-small, $border-radius-small, ($btn-default-border-size * $gr-sm));
}
.btn-xs {
  @include button-size($padding-xs-vertical, ($padding-xs-horizontal * $gr), $font-size-small, $line-height-small, $border-radius-small, 0);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
