// Used for Main Navigation
%dark {
	background-color: $theme-dark-bg;
	color: $theme-dark-color;
	border-color: $theme-dark-border-color;

	a:link,
	a:visited,
	a:active {
		color: $theme-dark-link-color
	}

	a:hover {
		background-color: $theme-dark-bg-hover;
		color: $theme-dark-link-color-hover
	}

	a.active {
		background-color: $theme-dark-bg-active;
	}
}

%primary {
	background-color: $theme-primary-bg;
	color: $theme-primary-color;
	border-color: $theme-primary-border-color;

	a:link,
	a:visited,
	a:active {
		color: $theme-primary-link-color;
	}

	a:hover {
		color: $theme-primary-link-color-hover;
	}
}