// ----------------------------------------------------------
// Acclaim v2.0.0
// Copyright 2015 Acclaris, Inc.
// -----------------------------
// Kudos @ Font Awesome
// Main Author: Kai (azkai.io)
// -----------------------------
// Maintained by Acclaris Product Design Team
// Last Updated: 04/05/2015
// ----------------------------------------------------------

@font-face {
  font-family: 'FontAwesome';
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

%font-awesome-before {
  font-family: FontAwesome;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

%no-icon {
  content: " " !important;
}

%fa-2x {
  font-size: $font-size-h4 !important;
}
%fa-3x {
  font-size: $font-size-h3 !important;
}
%fa-4x {
  font-size: $font-size-h2 !important;
}
%fa-5x {
  font-size: $font-size-h1 !important;
}
%fa-fw {
  width: 1.28571429em;
  text-align: center;
}
%fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
%fa-ul > li {
  position: relative;
}
%fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
%fa-li.fa-lg {
  left: -1.85714286em;
}
%fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}
%fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
%fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
%fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
%fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
%fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
%fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
%fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}
%fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
%fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
%fa-stack-1x {
  line-height: inherit;
}
%fa-stack-2x {
  font-size: 2em;
}
%fa-inverse {
  color: #ffffff;
}
%fa-glass {
  content: "\f000";
}
%fa-music {
  content: "\f001";
}
%fa-search {
  content: "\f002";
}
%fa-envelope-o {
  content: "\f003";
}
%fa-heart {
  content: "\f004";
}
%fa-star {
  content: "\f005";
}
%fa-star-o {
  content: "\f006";
}
%fa-user {
  content: "\f007";
}
%fa-film {
  content: "\f008";
}
%fa-th-large {
  content: "\f009";
}
%fa-th {
  content: "\f00a";
}
%fa-th-list {
  content: "\f00b";
}
%fa-check {
  content: "\f00c";
}
%fa-remove,
%fa-close,
%fa-times {
  content: "\f00d";
}
%fa-search-plus {
  content: "\f00e";
}
%fa-search-minus {
  content: "\f010";
}
%fa-power-off {
  content: "\f011";
}
%fa-signal {
  content: "\f012";
}
%fa-gear,
%fa-cog {
  content: "\f013";
}
%fa-trash-o {
  content: "\f014";
}
%fa-home {
  content: "\f015";
}
%fa-file-o {
  content: "\f016";
}
%fa-clock-o {
  content: "\f017";
}
%fa-road {
  content: "\f018";
}
%fa-download {
  content: "\f019";
}
%fa-arrow-circle-o-down {
  content: "\f01a";
}
%fa-arrow-circle-o-up {
  content: "\f01b";
}
%fa-inbox {
  content: "\f01c";
}
%fa-play-circle-o {
  content: "\f01d";
}
%fa-rotate-right,
%fa-repeat {
  content: "\f01e";
}
%fa-refresh {
  content: "\f021";
}
%fa-list-alt {
  content: "\f022";
}
%fa-lock {
  content: "\f023";
}
%fa-flag {
  content: "\f024";
}
%fa-headphones {
  content: "\f025";
}
%fa-volume-off {
  content: "\f026";
}
%fa-volume-down {
  content: "\f027";
}
%fa-volume-up {
  content: "\f028";
}
%fa-qrcode {
  content: "\f029";
}
%fa-barcode {
  content: "\f02a";
}
%fa-tag {
  content: "\f02b";
}
%fa-tags {
  content: "\f02c";
}
%fa-book {
  content: "\f02d";
}
%fa-bookmark {
  content: "\f02e";
}
%fa-print {
  content: "\f02f";
}
%fa-camera {
  content: "\f030";
}
%fa-font {
  content: "\f031";
}
%fa-bold {
  content: "\f032";
}
%fa-italic {
  content: "\f033";
}
%fa-text-height {
  content: "\f034";
}
%fa-text-width {
  content: "\f035";
}
%fa-align-left {
  content: "\f036";
}
%fa-align-center {
  content: "\f037";
}
%fa-align-right {
  content: "\f038";
}
%fa-align-justify {
  content: "\f039";
}
%fa-list {
  content: "\f03a";
}
%fa-dedent,
%fa-outdent {
  content: "\f03b";
}
%fa-indent {
  content: "\f03c";
}
%fa-video-camera {
  content: "\f03d";
}
%fa-photo,
%fa-image,
%fa-picture-o {
  content: "\f03e";
}
%fa-pencil {
  content: "\f040";
}
%fa-map-marker {
  content: "\f041";
}
%fa-adjust {
  content: "\f042";
}
%fa-tint {
  content: "\f043";
}
%fa-edit,
%fa-pencil-square-o {
  content: "\f044";
}
%fa-share-square-o {
  content: "\f045";
}
%fa-check-square-o {
  content: "\f046";
}
%fa-arrows {
  content: "\f047";
}
%fa-step-backward {
  content: "\f048";
}
%fa-fast-backward {
  content: "\f049";
}
%fa-backward {
  content: "\f04a";
}
%fa-play {
  content: "\f04b";
}
%fa-pause {
  content: "\f04c";
}
%fa-stop {
  content: "\f04d";
}
%fa-forward {
  content: "\f04e";
}
%fa-fast-forward {
  content: "\f050";
}
%fa-step-forward {
  content: "\f051";
}
%fa-eject {
  content: "\f052";
}
%fa-chevron-left {
  content: "\f053";
}
%fa-chevron-right {
  content: "\f054";
}
%fa-plus-circle {
  content: "\f055";
}
%fa-minus-circle {
  content: "\f056";
}
%fa-times-circle {
  content: "\f057";
}
%fa-check-circle {
  content: "\f058";
}
%fa-question-circle {
  content: "\f059";
}
%fa-info-circle {
  content: "\f05a";
}
%fa-crosshairs {
  content: "\f05b";
}
%fa-times-circle-o {
  content: "\f05c";
}
%fa-check-circle-o {
  content: "\f05d";
}
%fa-ban {
  content: "\f05e";
}
%fa-arrow-left {
  content: "\f060";
}
%fa-arrow-right {
  content: "\f061";
}
%fa-arrow-up {
  content: "\f062";
}
%fa-arrow-down {
  content: "\f063";
}
%fa-mail-forward,
%fa-share {
  content: "\f064";
}
%fa-expand {
  content: "\f065";
}
%fa-compress {
  content: "\f066";
}
%fa-plus {
  content: "\f067";
}
%fa-minus {
  content: "\f068";
}
%fa-asterisk {
  content: "\f069";
}
%fa-exclamation-circle {
  content: "\f06a";
}
%fa-gift {
  content: "\f06b";
}
%fa-leaf {
  content: "\f06c";
}
%fa-fire {
  content: "\f06d";
}
%fa-eye {
  content: "\f06e";
}
%fa-eye-slash {
  content: "\f070";
}
%fa-warning,
%fa-exclamation-triangle {
  content: "\f071";
}
%fa-plane {
  content: "\f072";
}
%fa-calendar {
  content: "\f073";
}
%fa-random {
  content: "\f074";
}
%fa-comment {
  content: "\f075";
}
%fa-magnet {
  content: "\f076";
}
%fa-chevron-up {
  content: "\f077";
}
%fa-chevron-down {
  content: "\f078";
}
%fa-retweet {
  content: "\f079";
}
%fa-shopping-cart {
  content: "\f07a";
}
%fa-folder {
  content: "\f07b";
}
%fa-folder-open {
  content: "\f07c";
}
%fa-arrows-v {
  content: "\f07d";
}
%fa-arrows-h {
  content: "\f07e";
}
%fa-bar-chart-o,
%fa-bar-chart {
  content: "\f080";
}
%fa-twitter-square {
  content: "\f081";
}
%fa-facebook-square {
  content: "\f082";
}
%fa-camera-retro {
  content: "\f083";
}
%fa-key {
  content: "\f084";
}
%fa-gears,
%fa-cogs {
  content: "\f085";
}
%fa-comments {
  content: "\f086";
}
%fa-thumbs-o-up {
  content: "\f087";
}
%fa-thumbs-o-down {
  content: "\f088";
}
%fa-star-half {
  content: "\f089";
}
%fa-heart-o {
  content: "\f08a";
}
%fa-sign-out {
  content: "\f08b";
}
%fa-linkedin-square {
  content: "\f08c";
}
%fa-thumb-tack {
  content: "\f08d";
}
%fa-external-link {
  content: "\f08e";
}
%fa-sign-in {
  content: "\f090";
}
%fa-trophy {
  content: "\f091";
}
%fa-github-square {
  content: "\f092";
}
%fa-upload {
  content: "\f093";
}
%fa-lemon-o {
  content: "\f094";
}
%fa-phone {
  content: "\f095";
}
%fa-square-o {
  content: "\f096";
}
%fa-bookmark-o {
  content: "\f097";
}
%fa-phone-square {
  content: "\f098";
}
%fa-twitter {
  content: "\f099";
}
%fa-facebook-f,
%fa-facebook {
  content: "\f09a";
}
%fa-github {
  content: "\f09b";
}
%fa-unlock {
  content: "\f09c";
}
%fa-credit-card {
  content: "\f09d";
}
%fa-rss {
  content: "\f09e";
}
%fa-hdd-o {
  content: "\f0a0";
}
%fa-bullhorn {
  content: "\f0a1";
}
%fa-bell {
  content: "\f0f3";
}
%fa-certificate {
  content: "\f0a3";
}
%fa-hand-o-right {
  content: "\f0a4";
}
%fa-hand-o-left {
  content: "\f0a5";
}
%fa-hand-o-up {
  content: "\f0a6";
}
%fa-hand-o-down {
  content: "\f0a7";
}
%fa-arrow-circle-left {
  content: "\f0a8";
}
%fa-arrow-circle-right {
  content: "\f0a9";
}
%fa-arrow-circle-up {
  content: "\f0aa";
}
%fa-arrow-circle-down {
  content: "\f0ab";
}
%fa-globe {
  content: "\f0ac";
}
%fa-wrench {
  content: "\f0ad";
}
%fa-tasks {
  content: "\f0ae";
}
%fa-filter {
  content: "\f0b0";
}
%fa-briefcase {
  content: "\f0b1";
}
%fa-arrows-alt {
  content: "\f0b2";
}
%fa-group,
%fa-users {
  content: "\f0c0";
}
%fa-chain,
%fa-link {
  content: "\f0c1";
}
%fa-cloud {
  content: "\f0c2";
}
%fa-flask {
  content: "\f0c3";
}
%fa-cut,
%fa-scissors {
  content: "\f0c4";
}
%fa-copy,
%fa-files-o {
  content: "\f0c5";
}
%fa-paperclip {
  content: "\f0c6";
}
%fa-save,
%fa-floppy-o {
  content: "\f0c7";
}
%fa-square {
  content: "\f0c8";
}
%fa-navicon,
%fa-reorder,
%fa-bars {
  content: "\f0c9";
}
%fa-list-ul {
  content: "\f0ca";
}
%fa-list-ol {
  content: "\f0cb";
}
%fa-strikethrough {
  content: "\f0cc";
}
%fa-underline {
  content: "\f0cd";
}
%fa-table {
  content: "\f0ce";
}
%fa-magic {
  content: "\f0d0";
}
%fa-truck {
  content: "\f0d1";
}
%fa-pinterest {
  content: "\f0d2";
}
%fa-pinterest-square {
  content: "\f0d3";
}
%fa-google-plus-square {
  content: "\f0d4";
}
%fa-google-plus {
  content: "\f0d5";
}
%fa-money {
  content: "\f0d6";
}
%fa-caret-down {
  content: "\f0d7";
}
%fa-caret-up {
  content: "\f0d8";
}
%fa-caret-left {
  content: "\f0d9";
}
%fa-caret-right {
  content: "\f0da";
}
%fa-columns {
  content: "\f0db";
}
%fa-unsorted,
%fa-sort {
  content: "\f0dc";
}
%fa-sort-down,
%fa-sort-desc {
  content: "\f0dd";
}
%fa-sort-up,
%fa-sort-asc {
  content: "\f0de";
}
%fa-envelope {
  content: "\f0e0";
}
%fa-linkedin {
  content: "\f0e1";
}
%fa-rotate-left,
%fa-undo {
  content: "\f0e2";
}
%fa-legal,
%fa-gavel {
  content: "\f0e3";
}
%fa-dashboard,
%fa-tachometer {
  content: "\f0e4";
}
%fa-comment-o {
  content: "\f0e5";
}
%fa-comments-o {
  content: "\f0e6";
}
%fa-flash,
%fa-bolt {
  content: "\f0e7";
}
%fa-sitemap {
  content: "\f0e8";
}
%fa-umbrella {
  content: "\f0e9";
}
%fa-paste,
%fa-clipboard {
  content: "\f0ea";
}
%fa-lightbulb-o {
  content: "\f0eb";
}
%fa-exchange {
  content: "\f0ec";
}
%fa-cloud-download {
  content: "\f0ed";
}
%fa-cloud-upload {
  content: "\f0ee";
}
%fa-user-md {
  content: "\f0f0";
}
%fa-stethoscope {
  content: "\f0f1";
}
%fa-suitcase {
  content: "\f0f2";
}
%fa-bell-o {
  content: "\f0a2";
}
%fa-coffee {
  content: "\f0f4";
}
%fa-cutlery {
  content: "\f0f5";
}
%fa-file-text-o {
  content: "\f0f6";
}
%fa-building-o {
  content: "\f0f7";
}
%fa-hospital-o {
  content: "\f0f8";
}
%fa-ambulance {
  content: "\f0f9";
}
%fa-medkit {
  content: "\f0fa";
}
%fa-fighter-jet {
  content: "\f0fb";
}
%fa-beer {
  content: "\f0fc";
}
%fa-h-square {
  content: "\f0fd";
}
%fa-plus-square {
  content: "\f0fe";
}
%fa-angle-double-left {
  content: "\f100";
}
%fa-angle-double-right {
  content: "\f101";
}
%fa-angle-double-up {
  content: "\f102";
}
%fa-angle-double-down {
  content: "\f103";
}
%fa-angle-left {
  content: "\f104";
}
%fa-angle-right {
  content: "\f105";
}
%fa-angle-up {
  content: "\f106";
}
%fa-angle-down {
  content: "\f107";
}
%fa-desktop {
  content: "\f108";
}
%fa-laptop {
  content: "\f109";
}
%fa-tablet {
  content: "\f10a";
}
%fa-mobile-phone,
%fa-mobile {
  content: "\f10b";
}
%fa-circle-o {
  content: "\f10c";
}
%fa-quote-left {
  content: "\f10d";
}
%fa-quote-right {
  content: "\f10e";
}
%fa-spinner {
  content: "\f110";
}
%fa-circle {
  content: "\f111";
}
%fa-mail-reply,
%fa-reply {
  content: "\f112";
}
%fa-github-alt {
  content: "\f113";
}
%fa-folder-o {
  content: "\f114";
}
%fa-folder-open-o {
  content: "\f115";
}
%fa-smile-o {
  content: "\f118";
}
%fa-frown-o {
  content: "\f119";
}
%fa-meh-o {
  content: "\f11a";
}
%fa-gamepad {
  content: "\f11b";
}
%fa-keyboard-o {
  content: "\f11c";
}
%fa-flag-o {
  content: "\f11d";
}
%fa-flag-checkered {
  content: "\f11e";
}
%fa-terminal {
  content: "\f120";
}
%fa-code {
  content: "\f121";
}
%fa-mail-reply-all,
%fa-reply-all {
  content: "\f122";
}
%fa-star-half-empty,
%fa-star-half-full,
%fa-star-half-o {
  content: "\f123";
}
%fa-location-arrow {
  content: "\f124";
}
%fa-crop {
  content: "\f125";
}
%fa-code-fork {
  content: "\f126";
}
%fa-unlink,
%fa-chain-broken {
  content: "\f127";
}
%fa-question {
  content: "\f128";
}
%fa-info {
  content: "\f129";
}
%fa-exclamation {
  content: "\f12a";
}
%fa-superscript {
  content: "\f12b";
}
%fa-subscript {
  content: "\f12c";
}
%fa-eraser {
  content: "\f12d";
}
%fa-puzzle-piece {
  content: "\f12e";
}
%fa-microphone {
  content: "\f130";
}
%fa-microphone-slash {
  content: "\f131";
}
%fa-shield {
  content: "\f132";
}
%fa-calendar-o {
  content: "\f133";
}
%fa-fire-extinguisher {
  content: "\f134";
}
%fa-rocket {
  content: "\f135";
}
%fa-maxcdn {
  content: "\f136";
}
%fa-chevron-circle-left {
  content: "\f137";
}
%fa-chevron-circle-right {
  content: "\f138";
}
%fa-chevron-circle-up {
  content: "\f139";
}
%fa-chevron-circle-down {
  content: "\f13a";
}
%fa-html5 {
  content: "\f13b";
}
%fa-css3 {
  content: "\f13c";
}
%fa-anchor {
  content: "\f13d";
}
%fa-unlock-alt {
  content: "\f13e";
}
%fa-bullseye {
  content: "\f140";
}
%fa-ellipsis-h {
  content: "\f141";
}
%fa-ellipsis-v {
  content: "\f142";
}
%fa-rss-square {
  content: "\f143";
}
%fa-play-circle {
  content: "\f144";
}
%fa-ticket {
  content: "\f145";
}
%fa-minus-square {
  content: "\f146";
}
%fa-minus-square-o {
  content: "\f147";
}
%fa-level-up {
  content: "\f148";
}
%fa-level-down {
  content: "\f149";
}
%fa-check-square {
  content: "\f14a";
}
%fa-pencil-square {
  content: "\f14b";
}
%fa-external-link-square {
  content: "\f14c";
}
%fa-share-square {
  content: "\f14d";
}
%fa-compass {
  content: "\f14e";
}
%fa-toggle-down,
%fa-caret-square-o-down {
  content: "\f150";
}
%fa-toggle-up,
%fa-caret-square-o-up {
  content: "\f151";
}
%fa-toggle-right,
%fa-caret-square-o-right {
  content: "\f152";
}
%fa-euro,
%fa-eur {
  content: "\f153";
}
%fa-gbp {
  content: "\f154";
}
%fa-dollar,
%fa-usd {
  content: "\f155";
}
%fa-rupee,
%fa-inr {
  content: "\f156";
}
%fa-cny,
%fa-rmb,
%fa-yen,
%fa-jpy {
  content: "\f157";
}
%fa-ruble,
%fa-rouble,
%fa-rub {
  content: "\f158";
}
%fa-won,
%fa-krw {
  content: "\f159";
}
%fa-bitcoin,
%fa-btc {
  content: "\f15a";
}
%fa-file {
  content: "\f15b";
}
%fa-file-text {
  content: "\f15c";
}
%fa-sort-alpha-asc {
  content: "\f15d";
}
%fa-sort-alpha-desc {
  content: "\f15e";
}
%fa-sort-amount-asc {
  content: "\f160";
}
%fa-sort-amount-desc {
  content: "\f161";
}
%fa-sort-numeric-asc {
  content: "\f162";
}
%fa-sort-numeric-desc {
  content: "\f163";
}
%fa-thumbs-up {
  content: "\f164";
}
%fa-thumbs-down {
  content: "\f165";
}
%fa-youtube-square {
  content: "\f166";
}
%fa-youtube {
  content: "\f167";
}
%fa-xing {
  content: "\f168";
}
%fa-xing-square {
  content: "\f169";
}
%fa-youtube-play {
  content: "\f16a";
}
%fa-dropbox {
  content: "\f16b";
}
%fa-stack-overflow {
  content: "\f16c";
}
%fa-instagram {
  content: "\f16d";
}
%fa-flickr {
  content: "\f16e";
}
%fa-adn {
  content: "\f170";
}
%fa-bitbucket {
  content: "\f171";
}
%fa-bitbucket-square {
  content: "\f172";
}
%fa-tumblr {
  content: "\f173";
}
%fa-tumblr-square {
  content: "\f174";
}
%fa-long-arrow-down {
  content: "\f175";
}
%fa-long-arrow-up {
  content: "\f176";
}
%fa-long-arrow-left {
  content: "\f177";
}
%fa-long-arrow-right {
  content: "\f178";
}
%fa-apple {
  content: "\f179";
}
%fa-windows {
  content: "\f17a";
}
%fa-android {
  content: "\f17b";
}
%fa-linux {
  content: "\f17c";
}
%fa-dribbble {
  content: "\f17d";
}
%fa-skype {
  content: "\f17e";
}
%fa-foursquare {
  content: "\f180";
}
%fa-trello {
  content: "\f181";
}
%fa-female {
  content: "\f182";
}
%fa-male {
  content: "\f183";
}
%fa-gittip,
%fa-gratipay {
  content: "\f184";
}
%fa-sun-o {
  content: "\f185";
}
%fa-moon-o {
  content: "\f186";
}
%fa-archive {
  content: "\f187";
}
%fa-bug {
  content: "\f188";
}
%fa-vk {
  content: "\f189";
}
%fa-weibo {
  content: "\f18a";
}
%fa-renren {
  content: "\f18b";
}
%fa-pagelines {
  content: "\f18c";
}
%fa-stack-exchange {
  content: "\f18d";
}
%fa-arrow-circle-o-right {
  content: "\f18e";
}
%fa-arrow-circle-o-left {
  content: "\f190";
}
%fa-toggle-left,
%fa-caret-square-o-left {
  content: "\f191";
}
%fa-dot-circle-o {
  content: "\f192";
}
%fa-wheelchair {
  content: "\f193";
}
%fa-vimeo-square {
  content: "\f194";
}
%fa-turkish-lira,
%fa-try {
  content: "\f195";
}
%fa-plus-square-o {
  content: "\f196";
}
%fa-space-shuttle {
  content: "\f197";
}
%fa-slack {
  content: "\f198";
}
%fa-envelope-square {
  content: "\f199";
}
%fa-wordpress {
  content: "\f19a";
}
%fa-openid {
  content: "\f19b";
}
%fa-institution,
%fa-bank,
%fa-university {
  content: "\f19c";
}
%fa-mortar-board,
%fa-graduation-cap {
  content: "\f19d";
}
%fa-yahoo {
  content: "\f19e";
}
%fa-google {
  content: "\f1a0";
}
%fa-reddit {
  content: "\f1a1";
}
%fa-reddit-square {
  content: "\f1a2";
}
%fa-stumbleupon-circle {
  content: "\f1a3";
}
%fa-stumbleupon {
  content: "\f1a4";
}
%fa-delicious {
  content: "\f1a5";
}
%fa-digg {
  content: "\f1a6";
}
%fa-pied-piper {
  content: "\f1a7";
}
%fa-pied-piper-alt {
  content: "\f1a8";
}
%fa-drupal {
  content: "\f1a9";
}
%fa-joomla {
  content: "\f1aa";
}
%fa-language {
  content: "\f1ab";
}
%fa-fax {
  content: "\f1ac";
}
%fa-building {
  content: "\f1ad";
}
%fa-child {
  content: "\f1ae";
}
%fa-paw {
  content: "\f1b0";
}
%fa-spoon {
  content: "\f1b1";
}
%fa-cube {
  content: "\f1b2";
}
%fa-cubes {
  content: "\f1b3";
}
%fa-behance {
  content: "\f1b4";
}
%fa-behance-square {
  content: "\f1b5";
}
%fa-steam {
  content: "\f1b6";
}
%fa-steam-square {
  content: "\f1b7";
}
%fa-recycle {
  content: "\f1b8";
}
%fa-automobile,
%fa-car {
  content: "\f1b9";
}
%fa-cab,
%fa-taxi {
  content: "\f1ba";
}
%fa-tree {
  content: "\f1bb";
}
%fa-spotify {
  content: "\f1bc";
}
%fa-deviantart {
  content: "\f1bd";
}
%fa-soundcloud {
  content: "\f1be";
}
%fa-database {
  content: "\f1c0";
}
%fa-file-pdf-o {
  content: "\f1c1";
}
%fa-file-word-o {
  content: "\f1c2";
}
%fa-file-excel-o {
  content: "\f1c3";
}
%fa-file-powerpoint-o {
  content: "\f1c4";
}
%fa-file-photo-o,
%fa-file-picture-o,
%fa-file-image-o {
  content: "\f1c5";
}
%fa-file-zip-o,
%fa-file-archive-o {
  content: "\f1c6";
}
%fa-file-sound-o,
%fa-file-audio-o {
  content: "\f1c7";
}
%fa-file-movie-o,
%fa-file-video-o {
  content: "\f1c8";
}
%fa-file-code-o {
  content: "\f1c9";
}
%fa-vine {
  content: "\f1ca";
}
%fa-codepen {
  content: "\f1cb";
}
%fa-jsfiddle {
  content: "\f1cc";
}
%fa-life-bouy,
%fa-life-buoy,
%fa-life-saver,
%fa-support,
%fa-life-ring {
  content: "\f1cd";
}
%fa-circle-o-notch {
  content: "\f1ce";
}
%fa-ra,
%fa-rebel {
  content: "\f1d0";
}
%fa-ge,
%fa-empire {
  content: "\f1d1";
}
%fa-git-square {
  content: "\f1d2";
}
%fa-git {
  content: "\f1d3";
}
%fa-hacker-news {
  content: "\f1d4";
}
%fa-tencent-weibo {
  content: "\f1d5";
}
%fa-qq {
  content: "\f1d6";
}
%fa-wechat,
%fa-weixin {
  content: "\f1d7";
}
%fa-send,
%fa-paper-plane {
  content: "\f1d8";
}
%fa-send-o,
%fa-paper-plane-o {
  content: "\f1d9";
}
%fa-history {
  content: "\f1da";
}
%fa-genderless,
%fa-circle-thin {
  content: "\f1db";
}
%fa-header {
  content: "\f1dc";
}
%fa-paragraph {
  content: "\f1dd";
}
%fa-sliders {
  content: "\f1de";
}
%fa-share-alt {
  content: "\f1e0";
}
%fa-share-alt-square {
  content: "\f1e1";
}
%fa-bomb {
  content: "\f1e2";
}
%fa-soccer-ball-o,
%fa-futbol-o {
  content: "\f1e3";
}
%fa-tty {
  content: "\f1e4";
}
%fa-binoculars {
  content: "\f1e5";
}
%fa-plug {
  content: "\f1e6";
}
%fa-slideshare {
  content: "\f1e7";
}
%fa-twitch {
  content: "\f1e8";
}
%fa-yelp {
  content: "\f1e9";
}
%fa-newspaper-o {
  content: "\f1ea";
}
%fa-wifi {
  content: "\f1eb";
}
%fa-calculator {
  content: "\f1ec";
}
%fa-paypal {
  content: "\f1ed";
}
%fa-google-wallet {
  content: "\f1ee";
}
%fa-cc-visa {
  content: "\f1f0";
}
%fa-cc-mastercard {
  content: "\f1f1";
}
%fa-cc-discover {
  content: "\f1f2";
}
%fa-cc-amex {
  content: "\f1f3";
}
%fa-cc-paypal {
  content: "\f1f4";
}
%fa-cc-stripe {
  content: "\f1f5";
}
%fa-bell-slash {
  content: "\f1f6";
}
%fa-bell-slash-o {
  content: "\f1f7";
}
%fa-trash {
  content: "\f1f8";
}
%fa-copyright {
  content: "\f1f9";
}
%fa-at {
  content: "\f1fa";
}
%fa-eyedropper {
  content: "\f1fb";
}
%fa-paint-brush {
  content: "\f1fc";
}
%fa-birthday-cake {
  content: "\f1fd";
}
%fa-area-chart {
  content: "\f1fe";
}
%fa-pie-chart {
  content: "\f200";
}
%fa-line-chart {
  content: "\f201";
}
%fa-lastfm {
  content: "\f202";
}
%fa-lastfm-square {
  content: "\f203";
}
%fa-toggle-off {
  content: "\f204";
}
%fa-toggle-on {
  content: "\f205";
}
%fa-bicycle {
  content: "\f206";
}
%fa-bus {
  content: "\f207";
}
%fa-ioxhost {
  content: "\f208";
}
%fa-angellist {
  content: "\f209";
}
%fa-cc {
  content: "\f20a";
}
%fa-shekel,
%fa-sheqel,
%fa-ils {
  content: "\f20b";
}
%fa-meanpath {
  content: "\f20c";
}
%fa-buysellads {
  content: "\f20d";
}
%fa-connectdevelop {
  content: "\f20e";
}
%fa-dashcube {
  content: "\f210";
}
%fa-forumbee {
  content: "\f211";
}
%fa-leanpub {
  content: "\f212";
}
%fa-sellsy {
  content: "\f213";
}
%fa-shirtsinbulk {
  content: "\f214";
}
%fa-simplybuilt {
  content: "\f215";
}
%fa-skyatlas {
  content: "\f216";
}
%fa-cart-plus {
  content: "\f217";
}
%fa-cart-arrow-down {
  content: "\f218";
}
%fa-diamond {
  content: "\f219";
}
%fa-ship {
  content: "\f21a";
}
%fa-user-secret {
  content: "\f21b";
}
%fa-motorcycle {
  content: "\f21c";
}
%fa-street-view {
  content: "\f21d";
}
%fa-heartbeat {
  content: "\f21e";
}
%fa-venus {
  content: "\f221";
}
%fa-mars {
  content: "\f222";
}
%fa-mercury {
  content: "\f223";
}
%fa-transgender {
  content: "\f224";
}
%fa-transgender-alt {
  content: "\f225";
}
%fa-venus-double {
  content: "\f226";
}
%fa-mars-double {
  content: "\f227";
}
%fa-venus-mars {
  content: "\f228";
}
%fa-mars-stroke {
  content: "\f229";
}
%fa-mars-stroke-v {
  content: "\f22a";
}
%fa-mars-stroke-h {
  content: "\f22b";
}
%fa-neuter {
  content: "\f22c";
}
%fa-facebook-official {
  content: "\f230";
}
%fa-pinterest-p {
  content: "\f231";
}
%fa-whatsapp {
  content: "\f232";
}
%fa-server {
  content: "\f233";
}
%fa-user-plus {
  content: "\f234";
}
%fa-user-times {
  content: "\f235";
}
%fa-hotel,
%fa-bed {
  content: "\f236";
}
%fa-viacoin {
  content: "\f237";
}
%fa-train {
  content: "\f238";
}
%fa-subway {
  content: "\f239";
}
%fa-medium {
  content: "\f23a";
}