// ----------------------------------------------------------
// Acclaim v2.0.0
// Copyright 2015 Acclaris, Inc.
// -----------------------------
// Kudos @ Twitter Bootstrap
// Main Author: Kai (azkai.io)
// -----------------------------
// Maintained by Acclaris Product Design Team
// Last Updated: 04/27/2015
// ----------------------------------------------------------

footer {
	padding: $footer-spacing-vertical 0;
	background-color: $footer-bg;
	border-top: $footer-border-size solid $footer-border-color;
	color: $footer-color;

	.footer-logo {
		padding-left: 0;
	}

	.container {
		@extend %relative;
	}

	ul {
		@extend .list-unstyled;
	}

	h5 {
		@extend .text-muted;
		font-size: (1rem * $gr);
		@extend .no-margin-top;
	}

	img.logo {
		@extend .img-responsive;
		max-height: 100%;
		padding-top: $padding-small-vertical;
	}

	.footer-section {
		display: flex;
	    display: flexbox\9;
	    flex-flow: row wrap;
	    justify-content: space-around;
	}

	.footer-list {
		min-width: 33.33333%;
		flex-grow: 1;
		flex-basis: auto;
        min-height: 100px;
        float: left;
        padding-left: ($grid-gutter-width / 2);
	}

	.go-to-top {
		@extend %text-right;
		@extend %absolute;
		color: $gray-light;
		font-size: $font-size-h2;
		top: -($footer-spacing-vertical / .87);
		right: 15px;
		@include transition(color 150ms ease-in-out, top 150ms ease-in-out);
		&:hover, &:focus {
			color: $link-color;
			top: -($footer-spacing-vertical / .8);
		}	
	}

	.top-container {
		padding: ($footer-spacing-vertical * $gr-sm) 0;
		@extend .clearfix;
		border-bottom: ceil($padding-xs-horizontal / 2) solid $footer-border-color;
	}

	.bottom-container {
		padding: ($footer-spacing-vertical * $gr-sm) 0;
		@extend .clearfix;

		.bottom-list {
			li { @extend .no-margin; float: left; }
			a {
				padding: 0 ($footer-spacing-vertical * $gr-sm);
				border-right: 1px solid $footer-border-color;
			}
			li:first-child a {
				padding-left: 0;
			}
		}

		.copyright {
			color: $gray-light;
		}
	}

	//End Footer Carousel

	&:last-child:after {
		@extend .clearfix;
	}
}