//
// Forms
// --------------------------------------------------


//
// Restyle and baseline non-control form elements.
// --------------------------------------------------


fieldset {
  @extend .no-padding;
  @extend .no-margin;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See htktps://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;
  
  &+ fieldset {
    margin-top: ($line-height-computed);
  }

  .inline {
   label {
      float: left;
      &:after {
        @extend .clearfix;
      }
    }
    &:after {
      @extend .clearfix;
      content: '';
      min-height: 1px;
    }
  }
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: $line-height-computed;
  font: bold $font-size-mid $font-family-headers;
  text-transform: uppercase;
  line-height: inherit;
  color: $legend-color;
  border: 0;
  border-bottom: 1px solid $legend-border-color;
}

label {
  @extend .block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  @extend .no-margin;
  padding: ($line-height-computed * $gr-sm3) 0;
  font-weight: 100;
  font-size: $font-size-mid;

  input, select {
    margin-top: ($line-height-computed * $gr-sm3) / 2;
  }
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;;
}

// Set the height of file controls to match text inputs
input[type="file"] {
  display: block;
}

// Make range inputs behave like textual form controls
input[type="range"] {
  display: block;
  width: 100%;
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}

// Focus for file, radio, and checkbox
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  @include tab-focus;
}

// Adjust output element
output {
  display: block;
  padding-top: ($padding-base-vertical + 1);
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
}


// Common form controls
//
// Shared size and type resets for form controls. Apply `.form-control` to any
// of the following form controls:
//
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: block;
  width: 100%;
  height: ($font-size-base + ($line-height-computed * $gr)); // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: $padding-base-vertical $padding-base-horizontal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $input-color;
  background-color: $input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: $input-border-size solid $input-border;
  border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  //@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(all, 0.15s, ease-in-out);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder;

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted textarea& to textarea.form-control
}

// Reset height for `textarea`s
textarea {
  height: auto;
}

// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    line-height: $input-height-base;
  }
}

// Apply same disabled cursor tweak as for inputs
// Some special care is needed because <label>s don't inherit their parent's `cursor`.
//
// Note: Neither radios nor checkboxes can be readonly.
input[type="radio"],
input[type="checkbox"] {
  + label {
    margin-right: $margin-large-horizontal;
  }
  &[disabled],
  &.disabled,
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}

// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

.has-feedback {
  // Enable absolute positioning
  position: relative;

  // Ensure icons don't overlap text
  .form-control {
    padding-right: ($input-height-base * 1.25);
  }
}

// Feedback icon (requires font awesome)
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; // Ensure icon is above input groups
  display: block;
  width: $input-height-base;
  height: $input-height-base;
  line-height: $input-height-base;
  text-align: center;
  pointer-events: none;
}

.input-lg + .form-control-feedback {
  width: $input-height-large;
  height: $input-height-large;
  line-height: $input-height-large;
}

.input-sm + .form-control-feedback {
  width: $input-height-small;
  height: $input-height-small;
  line-height: $input-height-small;
}

// Feedback states
.has-success {
  @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
}
.has-warning {
  @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
}
.has-error {
  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
}

// Reposition feedback icon if input has visible label above
.has-feedback label {

  & ~ .form-control-feedback {
     top: ($line-height-computed + 5); // Height of the `label` and its margin
  }
  &.sr-only ~ .form-control-feedback {
     top: 0;
  }
}

// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help {
  display: block; // account for any element using help-block
  margin-top: ($line-height-computed * $gr-sm3);
  margin-bottom: 10px;
  color: lighten($text-color, 25%); // lighten the text some for contrast
}

// Custom Form Elements w/ Font Awesome
// --------------------------------------------------

// Hide the actual Input Elements
input[type=checkbox],
input[type=radio] {
  display: none;
}

// Makes label relative so elements won't move once checked
input[type=checkbox] + label,
input[type=radio] + label {
  position: relative;
  margin-left: ($padding-small-horizontal * $gr-2);
}

// Makes fake input absolute so it won't move the label next to it
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  @extend .font-awesome-before;
  position: absolute;
  font-size: 18px !important;
  left: -($padding-small-horizontal * $gr-2);
  top: floor(($line-height-computed * $gr-sm2) - $gr);
  transition: color 150ms ease-in-out;
}

// Checkboxes
input[type=checkbox] + label:before { color: $input-border; content: "\f096"; } 
input[type=checkbox]:checked + label:before { color: $input-border-focus; content: "\f046"; } 

// Radios
input[type=radio] + label:before { color: $input-border; content: "\f1db"; }
input[type=radio]:checked + label:before { color: $input-border-focus; content: "\f192"; }

// Selects
// Removes original Caret to replace with this own
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}

.dropdown-list {
  position: relative;
  &:after {
    @extend .font-awesome-before;
    content: "\f13a";
    position: absolute;
    color: $gray-light;
    right: 0;
    bottom: ($margin-large-vertical + $padding-large-vertical);
    right: $padding-large-horizontal;
  }
}

// File Inputs

.file-group input.form-control {
  background-color: #fff;
}

.input-group-btn > .file {
  @extend .input-group;
  position: relative;
  overflow: hidden;
  @extend .block;
  @extend .btn;
  @extend .btn-default;
  margin-top: 5px;
  height: $input-height-base;
  border-right: none !important;
  color: $gray-base;
  @include transition(all, 0.15s, ease-in-out);
}

.input-group-btn > .file:hover, .input-group-btn > .file:focus {
  @include form-control-focus;
}

input[type="file"]{
  -webkit-appearance: none !important;
  border-image: none !important;
  border-image-slice: 0 !important;
  border-image-width: 0 !important;
  border-image-outset: 0 !important;
  background-image: none !important;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}