$shade:   #001122;
$tint:    #65d3fe;

//This adds a purple tint to the shade
//Takes into account the lightness, and applies more of the color to darker colors.
@function shade($c) {
	@if lightness($c) < 20% {
		@return mix($c, $shade, 75%);
	} @else if lightness($c) >= 21% and lightness($c) < 50% {
		@return mix($c, $shade, 90%);
	} @else {
		@return mix($c, $shade, 98%);
	}
}

// This adds a yellow tint to the bright colors.
//Takes into account the lightness, and applies less of the tint to lighter colors.
@function tint($c) {
	@if lightness($c) > 70% {
		@return mix($c, $tint, 98%);
	} @else {
		@return mix($c, $tint, 90%);
	}
}

@function shade-darkest($c) {
	$cN: shade($c);
	@return scale-color($cN, $lightness: -65%);
}

@function shade-dark($c) {
	$cN: shade($c);
	@return scale-color($cN, $lightness: -30%);
}

@function tint-light($c) {
	$cN: tint($c);
	@return scale-color($cN, $lightness: 30%);
}

@function tint-lightest($c) {
	$cN: tint($c);
	@return scale-color($cN, $lightness: 65%);
}