// ----------------------------------------------------------
// Acclaim v2.0.0
// Copyright 2015 Acclaris, Inc.
// -----------------------------
// Kudos @ Twitter Bootstrap
// Main Author: Kai (azkai.io)
// -----------------------------
// Maintained by Acclaris Product Design Team
// Last Updated: 04/05/2015
// ----------------------------------------------------------

.distributions-home {

	h4 {
		padding-bottom: $margin-large-vertical;
	}

	.legend {
		padding-left: $padding-base-horizontal;


		.title {
		    @extend .block;
		    line-height: ($padding-base-vertical * $gr-2);
		}

		.color-sample {
		    display: block;
		    float: left;
		    width: ($padding-base-vertical * $gr);
		    height: ($padding-base-vertical * $gr);
		    border-radius: 50%;
		    margin: ($padding-small-vertical * 0.75 ) $padding-base-vertical 0 0;
		}

		@media (max-width: $screen-lg) and (min-width: $screen-md-min) { 
			float: right;
			margin-right: 30px;
		}

	}// End Legend

}// End Contributions on Home Page

.color-sample {

	&[class*="-"] {
		display: none;
		visibility: none;
	}

	@each $color-swatch in $chart-color-samples {
		$i: index($chart-color-samples, $color-swatch);
		&-type#{$i} {
			color: $color-swatch;

			&-highlight {
				color: tint-light($color-swatch);
			}//End Highlight

		}//End Type of Color Sample
	}//End Each Loop
	&-typeOther {
		color: $gray-light;
		&-highlight {
			color: $gray-lighter;
		}//End Highlight
	}
}//End Color Samples