//
// Grid system
// --------------------------------------------------
// The grid system uses Flex, a new and experimental technique not supported in all browsers. For this reason, we support
// only IE 10+, Chrome 42+ and FireFox 38+.
//
// Flex allows the grid to shrink, grow and be manipulated depending upon its container, which should be a percentage of the screen.
// --------------------------------------------------
// http://www.mademyday.de/css-height-equals-width-with-pure-css.html

// Row is used because it is important to get the ratio for the entire page, not the column
// Also use these as sections. Can be used to create flex displays for flex columns
%row {
	min-height: $grid-col-width;
}

// Placeholder to extend into grid to save space
// Col are used to decide how much room for each item to take up
// Col should also have ratios
%col {
	position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
}

// Content is used to correctly place content inside of a col
%content {
    // Inner gutter via padding
    padding: $grid-gutter-padding-vertical $grid-gutter-padding-horizontal;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

// ------------------------------------
// CREATE GRID 
// ------------------------------------

// Framework grid generation
// -------------------------------------
// Generate the correct number of grid classes given any value of `$grid-columns`.
// Make columns for each specific device

@mixin make-column($device) {
	@if ($device == 'phone') {

		// Widths for Rows 
		// ---
		// For Phone, only output 1 global class with 1 width

		*[data-grid~="row"][data-span*="#{$device}"] {
			@extend %row;
			width: 100%;
		}

		*[data-grid~="col"][data-span*="#{$device}"] {
			@extend %col;
			width: 100%;
		}

		// For all others, output width dependant on num of cols to span
	} @else {

		@for $i from (0 + $grid-columns) through length($grid-columns){

			*[data-grid~="row"][data-span~="#{$device}-#{$i}"] {
				@extend %row;
				max-width: 100%;

				// Widths for Rows 
				width: ($grid-col-width * $i);
			}

			*[data-grid~="col"][data-span~="#{$device}-#{$i}"] {
				@extend %col;
				max-width: 100%;
				// Widths for Rows 
				width: ($grid-col-width * $i);
			}
		} // End ForLoop
	} // End Else
} //End All Column Classes ForLoop

// Make Ratios
@mixin make-ratio($device, $device-index) {
	@each $ratio in $ratio-list {

		$name: nth($ratio, 1);
		$ratio-type: nth($ratio, 2);

		%ratio-#{$name}:before { 
			content: " ";
			display: block;
			padding-top: (nth($row-heights, $device-index)) * $ratio-type;
		}
	}
}

@mixin make-float($device) {
	%#{$device}-pull {
		@extend %pull-left;
	}
	%#{$device}-push {
		@extend %pull-right;
	}
	%#{$device}-clear {
		float: none;
	}
}

@mixin make-offset($device) {

	@for $i from (0 + $grid-columns) through length($grid-columns){
		%#{$device}-offset-left-#{$i} {
			@if $device == 'desktop' {
				padding-left: 0;
				margin-left: ($row-height-desktop * $i);
			} @else if $device == 'tablet' {
				padding-left: 0;
				margin-left: $row-height-tablet;
			} @else {
				padding-left: 0;
				margin-left: $row-height-phone;
			}
		}

		%#{$device}-offset-right-#{$i} {
			@if $device == 'desktop' {
				margin-right: $row-height-desktop;
			} @else if $device == 'tablet' {
				margin-right: $row-height-tablet;
			} @else {
				margin-right: $row-height-phone;
			}
		}
	}
}

// Create Grid
// ------------------------------------
// Create a grid for each specific device

@mixin make-grid($device) {
  @include make-column($device);
}

// ------------------------------------
// CSS START 
// ------------------------------------

// Make col Placeholders
@for $i from (0 + 1) through length($device-list) {
	@media (min-width: #{nth($screen-breakpoints, $i)}) {
		@include make-grid(#{nth($device-list, $i)});
		@include make-float(#{nth($device-list, $i)});
		@include make-ratio(#{nth($device-list, $i)}, $device-index: $i);
		@include make-offset(#{nth($device-list, $i)});
	}
}