// Covers, Jumbotrons, Heros, etc.
// --------------------------------------

.character-cover {
  overflow: hidden;
}

.character-image {
    @extend %ratio-four;
    overflow: hidden;

  img {
    @extend %content;
    padding: 0;
    z-index: -1;
    min-width: 100%;
    height: auto;
  }
}

.character-info {
  background-color: #fff;
  @extend %desktop-offset-left-1;
  overflow: hidden;


  @media screen and (min-width: $screen-desktop-min) {
    margin-top: ($row-height-desktop * 2) * -1;
  }
}

.character-basics {
  @extend %ratio-third;
  position: relative;
  float: left;

  ul {
    @extend %content;
  }

  .sub {
    color: $gray-light;
    font-size: $font-size-h5;
    margin-bottom: ($line-height-computed * $gr-sm2);
    font-style: italic
  }

  a[data-type~="user"] {
    font-style: normal
  }

  h1 {
    text-transform: uppercase
  }

  #character-nickname {
    color: $gray-light
  }
}

.character-portrait {
  overflow: hidden;
  float: left;

  img {
    padding: 0;
    width: 100%;
    max-height: auto
  }
}

.character-nav {
  @extend %dark;
}

.menu-character-profile {
  @extend %list-inline;
  @extend %content;
  @extend %desktop-offset-left-1;
  @extend %ratio-fourth;
  padding-left: 0; // Removes alignment issue with character image
  overflow: hidden; // Hides the padding overflow of the a

  li {
    padding: 0; // Remove padding from the LI to add to the a
  }

  a {
    padding: ($grid-gutter-padding-vertical * 2) $grid-gutter-padding-horizontal; // Add 2 to account for menu spacing as well
  }

}