.menu-global,
.menu-user-box {
   @extend %ratio-half;
   line-height: 1em;
}

.menu-global {
   @extend %primary;
}

.menu-list {
  @extend %desktop-offset-left-2;
   @extend %list-inline;
   @extend %content;

   a {
	   	padding: $grid-gutter-padding-vertical $grid-gutter-padding-horizontal;
   }
}

.menu-user-box {
   @extend %dark;
}

.menu-user {
   @extend %desktop-offset-left-2;
   @extend %content;

   li:first-child {
      padding-left: 0;
   }
}

// MANAGE ACCT
// This is the side menu
// ----------------------------

.menu-side {
   @extend %dark;
   align-content: stretch;
   align-items: stretch;

   a {
      border-bottom: 1px solid $theme-dark-bg;
      background-color: $theme-dark-bg-hover;

      &:hover {
         background-color: lighten($theme-dark-bg-hover, 2%);
      }
   }
}

.nav-secondary {

   li {
         @extend %col;
         @extend %ratio-half;
   }

   a {
         line-height: 2.5
      }
}

.nav-secondary,
.menu-user-box {
   li {
      @extend %col;
      > a,
      > span {
         @extend %content;
         display: block
      }
   }
}