// ----------------------------------------------------------
// Acclaim v2.0.0
// Copyright 2015 Acclaris, Inc.
// -----------------------------
// Kudos @ Twitter Bootstrap
// Main Author: Kai (azkai.io)
// -----------------------------
// Maintained by Acclaris Product Design Team
// Last Updated: 04/05/2015
// ----------------------------------------------------------


// Notifications in Nav
// -------------------------

*[class*="notification"] {
	// Badge
	& > span {
		display: inline-block;
		padding: 0.25em 0.5em;
		font-size: $font-size-small;
		color: #fff;
		line-height: 1;
		vertical-align: baseline;
		white-space: nowrap;
		text-align: center;
		border-radius: 50%;
		margin-left: $margin-xs-horizontal;
		font-weight: 100;
	}
	// Info Notification
	&[class*="-info"] {
		@include notification($brand-info);
		&:before {
			@extend *[class^="fa"]:before;
			@extend .fa-globe:before;
		}
	}

	//Warning Notification
	&[class*="-warning"] {
		@include notification($brand-warning);
		&:before {
			@extend *[class^="fa"]:before;
			@extend .fa-exclamation-triangle:before;
		}
	}
	
}