// ----------------------------------------------------------
// Kudos @ Twitter Bootstrap
// Main Author: AzKai (azkai.io)
// ----------------------------------------------------------

// For elements w/ JavaScript onclick events instead of a or button
*[data-interaction="true"] { cursor: pointer; }

// CTA Buttons
//------------------------------------------------

.search {
		input {
			border: 1px solid $footer-border-color;
			padding: $padding-small-vertical $padding-small-horizontal;
			border-radius: 3px;
			min-width: 250px;
			position: relative;
			transition: all 300ms ease-in-out;

			&:focus {
				outline: none;
				box-shadow: 0 0 5px tint-light($brand-primary);
				border-color: $brand-primary;
			}
		}

		&:after {
			@extend .font-awesome-before;
			content: "\f002";
			color: $footer-border-color;
			width: 50px;
			position: absolute;
			right: 0;
			top: ($footer-spacing-vertical * $gr-sm);
			padding: ($padding-small-vertical * $gr);
			border-left: 1px solid $footer-border-color;
		}
		@media (max-width: $screen-xs-max) {
			&:after {
				top: 89px;
			}
			padding-top: ($footer-spacing-vertical * $gr-sm);
			clear: both !important;
			@extend .block;
			width: 100%;
			input {
				width: 100%;
			}
		}
	}

// Main
//------------------------------------------------
// This is the main vertical padding for main containers

.main {
	padding-top: $main-padding;
	padding-bottom: $main-padding;
}

// CTA Buttons
//------------------------------------------------

.welcome-back {
color: $welcome-back-bg;
line-height: (($jumbotron-padding * 1.5));
float: none;

.account-image {
	margin-top: (($jumbotron-padding * 1.5));
	margin-right: (($jumbotron-padding * 1.5));
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	float: left;
}

.account-image img {
	min-height: 100%;
	height: 120%;
	width: auto;
}

.label {
  display: block;
  float: right;
  font-size: ceil(($font-size-base * 1.35));
  font-weight: 600;
  @extend %relative;
  max-height: 150px;
  padding: 90px 15px 15px 15px;
  color: $welcome-back-bg;
  background-color: transparent;

}

.welcome-badge {
  padding: 1em;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 35px;
  line-height: 1em;
  text-align: center;
  color: #fff;
  background-color: $welcome-back-bg;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: #fff solid 3px;
  box-shadow: 0 0 0 0 tint-lightest($welcome-back-bg);
  @media (max-width: $screen-sm) {
	li, a {
	  @extend .block;
	  @extend .pull-left;
	}
  }
}

a.label {
  @extend .block;
}

.label:hover, .label:focus {
  color: shade-dark($welcome-back-bg);
  &.welcome-badge, .welcome-badge {
	background-color: $welcome-back-bg;
	box-shadow: 0 0 0 7px tint-light($welcome-back-bg);
	@include transition(all, 250ms, ease-in-out);
  } 
}

.welcome-badge:before {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: .5em;
}

.welcome-back-list {
	margin-top: 0;
	@extend .no-margin-bottom;
	@extend .visible-sm-block;
	@extend .visible-md-block;
	@extend .visible-lg-block;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
	list-style: none;

	li {
		min-width: 30%;
		width: 33%;
		flex-basis: auto;
		float: left;
	}
   a {
	  text-align: center;
	  margin: 0 auto;
	}

  @media (max-width: $screen-xs-max) {
	@extend .visible-xs-block;
	@include make-xs-column(7, $gutter: $grid-gutter-width);
	ul {
	  margin: 0 auto;
	}
	li {
	  float: left;
	  min-width: 33%;
	  a {
		float: none !important;
		text-align: center;
		margin: 0 auto;
	  }
	}
	.label-cta {
	  @extend .hidden-xs;
	}
  }
}

}//End Welcome Back