//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing
* {
  box-sizing: border-box !important;
}

*:before,
*:after {
  box-sizing: border-box !important;
}


// Body reset
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height;
  color: $text-color;
  background-color: $body-bg;
  display: flex;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: scroll;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a {
  &:link,
  &:visited {
    color: $link-color;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
      // Default
      outline: thin dotted;
      // WebKit
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
  }
}


// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
  margin: 0;
}


// Images
img {
  vertical-align: middle;
}

// Horizontal rules
// No border. Height 1px, inherits background so you can adjust color as needed in each container.
hr {
  margin-top:    $line-height-computed;
  margin-bottom: $line-height-computed;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: inherit;
}


// Only display content to screen readers
%aria {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
// Upstream patch for normalize.css submitted: https://github.com/necolas/normalize.css/pull/379 - remove this fix once that is merged

[role="button"] {
  cursor: pointer;
}