//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  margin: 0;
  padding: 0;
}

h1, %h1 { font-size: $font-size-h1; }
h2, %h2 { font-size: $font-size-h2; }
h3, %h3 { font-size: $font-size-h3; }
h4, %h4 { font-size: $font-size-h4; }
h5, %h5 { font-size: $font-size-h5; }
h6, %h6 { font-size: $font-size-h6; }


// Body text
// -------------------------

p {
  margin: 0;
}

%lead {
  font-size: $font-size-mid;
  font-weight: 300;
}


// Emphasis & misc
// -------------------------

mark,
%mark {
  background-color: $color-warning;
  color: tint-lightest($color-warning);
}

// Contextual colors
%text-strong { font-weight: bold; }

@include text-emphasis-variant('.text-primary', $color-primary);
@include text-emphasis-variant('.text-success', $color-success);
@include text-emphasis-variant('.text-info', $color-info);
@include text-emphasis-variant('.text-warning', $color-warning);
@include text-emphasis-variant('.text-danger', $color-danger);

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

// Description Lists
dt,
dd {
  line-height: $line-height;
}

// Misc
// -------------------------

// Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: dotted;
}

// Addresses
address {
  font-style: normal;
  line-height: $line-height;
}
