//
// Utility classes
// --------------------------------------------------


// Floats & Positioning
// -------------------------

%clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

%center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%pull-right {
  float: right;
}

%pull-left {
  float: left;
}

%block {
  display: block;
}

%inline {
  display: inline;
}

%flex {
  display: flex;
}


// Toggling content
// -------------------------

%show {
  display: block !important;
}

%invisible {
  visibility: hidden;
}

%hidden {
  display: none !important;
}

// Text
// -------------------------

%text-right {
  text-align: right;
}

%text-left {
  text-align: left;
}

%text-center {
  text-align: center;
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Positional Placeholders
// -------------------------

%affix {
  position: fixed;
}

%relative {
  position: relative;
}

%absolute {
  position: absolute;
}

// Images
// -------------------------

// Responsive images
%img-responsive {
  display: inline-block;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}