//
// Colors
// --------------------------------------------------

$gray-base:              #101112 !default; // NEVER use pure black, as it is hard for dyslexic users to read high contrast text
$gray-darker:            #171a1b !default;  
$gray-dark:              #252d37 !default; 
$gray:                   #445366 !default; 
$gray-light:             #99a3af !default;
$gray-lighter:           #d9dce0 !default;

$gray-list: $gray-base, $gray-darker, $gray-dark, $gray, $gray-light, $gray-lighter;

$color-primary:          #ee2e5b !default;
$color-secondary:        #3fb3e1 !default;

$color-success:          #41d980 !default;
$color-info:             #3fe178 !default;
$color-warning:          #ee2e5b !default;
$color-danger:           #d3222e !default;

$color-list: $color-primary, $color-success, $color-info, $color-warning, $color-danger;


//
// Scaffolding
// --------------------------------------------------

$body-bg:               $gray-darker !default;
$text-color:            $gray !default;
$link-color:            $color-secondary !default;
$link-hover-color:      shade-dark($link-color) !default;
$link-hover-decoration: none !default;

$gr-sm2:  0.38;
$gr-sm:   0.618;
$gr:      1.618;
$gr-2:    2.617;
$gr-3:    4.235;
$half:    0.5;


//
// Typography
// --------------------------------------------------

$font-family-headers:     "Montserrat";
$font-family-sans-serif:  "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          0.85vw !default;
$font-size-small:         12px !default;
$font-size-mid:           19px !default;
$font-size-large:         24px !default;

$font-size-h1:            1.614vw !default;
$font-size-h2:            1.3vw !default;
$font-size-h3:            1.15vw !default;
$font-size-h4:            1vw !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            $font-size-small !default;

//** Unit-less `line-height` for use in components like buttons.
$line-height:             1.5 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    $line-height * 1vw !default; // ~16px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    600 !default;
$headings-line-height:    $line-height-computed !default;
$headings-color:          inherit !default;


//
// Color Themes
// --------------------------------------------------
// Color themes are used for many different things such as box sections of
// the web app, list styles, button and label colors, etc.
// ---
// The naming convention is:
// theme-type-target-state

// Default Colors
$theme-dark-bg:            $gray-base !default; // Background Color
$theme-dark-color:         $gray-light !default; // Text Color
$theme-dark-link-color:    $gray-lighter !default;
$theme-dark-border-color:  $gray-darker !default;

// Hover
$theme-dark-bg-hover:           $gray-dark !default;
$theme-dark-link-color-hover:   lighten(tint($gray-lighter), 30%) !default;
$theme-dark-border-color-hover: $theme-dark-border-color !default;

// Active
$theme-dark-bg-active:           $theme-dark-bg-hover !default; // Background Color
$theme-dark-color-active:        $gray !default; // Text Color
$theme-dark-link-color-active:   $theme-dark-color-active !default;
$theme-dark-border-color-active: $theme-dark-border-color !default;

// Primary
// --------------
// Default Colors
$theme-primary-bg:            shade(darken($color-primary, 15%)) !default; // Background Color
$theme-primary-color:         tint-light($color-primary) !default; // Text Color
$theme-primary-link-color:    tint-light(lighten($color-primary, 30%)) !default;
$theme-primary-border-color:  shade(darken($color-primary, 15%)) !default;

// Hover
$theme-primary-bg-hover:           tint(lighten($theme-primary-bg, 15%)) !default;
$theme-primary-link-color-hover:   #fff !default;
$theme-primary-border-color-hover: $theme-primary-border-color !default;

// Mid Gray
// --------------
// Default Colors
$theme-dark-bg:            $gray-base !default; // Background Color
$theme-dark-color:         $gray-light !default; // Text Color
$theme-dark-link-color:    $gray-lighter !default;
$theme-dark-border-color:  $gray-darker !default;

// Hover
$theme-dark-bg-hover:           $gray-dark !default;
$theme-dark-link-color-hover:   lighten(tint($gray-lighter), 30%) !default;
$theme-dark-border-color-hover: $theme-dark-border-color !default;

// Active
$theme-dark-bg-active:           $theme-dark-bg-hover !default; // Background Color
$theme-dark-color-active:        $gray !default; // Text Color
$theme-dark-link-color-active:   $theme-dark-color-active !default;
$theme-dark-border-color-active: $theme-dark-border-color !default;

//
// Spacing
// --------------------------------------------------

//## Define Spacing
$space-base:     30px !default;
$space-large:    15px !default;
$space-small:    6px !default;


//
// Buttons
// --------------------------------------------------

$btn-font-weight:                normal !default;
$btn-default-color:              $color-success !default;
$btn-default-bg:                 $color-success !default;


//
// Tooltips
// --------------------------------------------------

$tooltip-arrow-width:     3px;
$tooltip-bg:              $gray-light;
$tooltip-color:           $gray-dark;
$tooltip-arrow-color:     $tooltip-bg;
$tooltip-max-width:       40rem;

//
// Grid
// --------------------------------------------------

$container-size-default:  100;
$container-size:          percentage($container-size-default * 0.01);

$device-list:             'phone', 'tablet', 'desktop';

$grid-columns:            13;
$grid-col-width:          ($container-size-default / $grid-columns) * 1vw;
$grid-col-width-max:      ($container-size-default / $grid-columns) * 1%; // This is to use as min-width to keep boxes from overlapping when screen resizes w/ scrollbar
$grid-gutter-width:       1.5rem;

$grid-gutter-padding-vertical:    ($grid-gutter-width * 0.5); // For use with all inner content padding
$grid-gutter-padding-horizontal:  ($grid-gutter-width); // For use with all inner content padding


$row-height-desktop:      ($grid-col-width);
$row-height-tablet:       3vw;
$row-height-phone:        1vw;

$row-heights: $row-height-phone, $row-height-tablet, $row-height-desktop;



// Column Ratios

$ratio-full:    1.0;
$ratio-half:    0.5;
$ratio-third:   0.75;
$ratio-fourth:  0.25;
$ratio-two:     2.0;
$ratio-three:   3.0;
$ratio-four:    4.0;

$ratio-list: (
				('full', $ratio-full),
				('half', $ratio-half),
				('third', $ratio-third),
				('fourth', $ratio-fourth),
				('two', $ratio-two),
				('three', $ratio-three),
				('four', $ratio-four)
			 );

// Screen Breakpoints
$screen-desktop:         1280px;
$screen-tablet:          1024px;
$screen-phone:           750px;

$screen-breakpoints:     $screen-phone, $screen-tablet, $screen-desktop;

// Min Sizes
$screen-desktop-min:     ($screen-desktop - 1px);
$screen-tablet-min:      ($screen-tablet - 1px);
$screen-phone-min:       ($screen-phone - 1px);