// Alerts

@mixin alert-variant($background, $border, $text-color) {
  background-color: $background;
  border-color: $border;
  color: $text-color;

  hr {
    border-top-color: shade-dark($border);
  }
  a {
    color: $text-color;
    font-weight: 700;
    border-bottom: 1px solid $text-color;
  }
  a:hover, a:focus {
  	text-decoration: none;
  }
}

// Mixin for Interactive Alerts

@mixin alert-variant-interactive($background, $border, $text-color) {
  background-color: tint-light($background);
  border-color: tint-light($border);
  color: tint-light($text-color);
  
  a {
    color: tint-light($text-color);
    font-weight: 700;
    border-bottom: 1px solid tint-light($text-color);
  }
}
