// Labels

@mixin label-variant($color) {
  background-color: $color;

  &[href] {
    &:hover,
    &:focus {
      background-color: shade-dark($color);
    }
  }
}


%hasTooltip {
    @extend .font-awesome-before;
    @extend %absolute;
    content: "\f075"; // This is a FontAwesome speech bubble
    left: -20px;
}