// Highlights for Notifications
// -------------------------

@mixin notification($color) {
	&:before {
		color: $color;
	}
	& > span {
		background-color: $color;
	}
	&:hover, &:focus {
		&:before {
			color: tint-light($color);
		}
		& > span {
			background-color: tint-light($color);
		}
	}
}